body{
  background-color: #ffffff;
  font-family: 'Open Sans';
  position: relative;
}
.App{
  background-color: #542e8d;
  min-height:500px;
  width: 400px;
  margin: 40px auto;
  border-radius: 10px;
}

.flex
{
  display:flex;
}

.asd
{
  display: none;
}

#to-do-form input{
  background-color: rgb(255, 255, 255);
  border: 0; 
  color: rgb(0, 0, 0);
  width: 200px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
}
#to-do-form input::placeholder{
  color: rgba(255,255,255,0.5);
}
#to-do-form input:focus{
  outline: none;
}
#to-do-form button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color:rgb(24, 107, 202); 
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
}

#to-do-form button:hover{
  background-color:rgb(20, 129, 255);
}

#to-do-form button:focus{
  outline: none;
}

.reset-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
}

.fav{
  color: white;
  text-align: center;
  
}